<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet" href="/webjars/bootstrap/4.2.1/css/bootstrap.min.css">
<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<style>
table , form {
    margin:20px;
}

</style>
</head>



<h5> Farmacia</h5>

<table>
<tr>
    <th>MedicamentId</th>
    <th>Name</th>
    <th>Price</th>
    <th>StockQuantity</th>
    <th>Active</th>

</tr>

<tr th:each="medicament:${farmacia}">
    <td th:text="${medicament.medicamentId}"></td>
    <td th:text="${medicament.name}"></td>
    <td th:text="${medicament.price}"></td>
    <td th:text="${medicament.stockQuantity}"></td>
    <td th:text="${medicament.active}"></td>
    <td><a th:href="@{deleteMedicament(medicamentId=${medicament.medicamentId})}"  
               class="btn btn-primary btn-sm">DELETE</a></td>
    
</tr>

<!-- <tr th:each="medicament:${medicamentos}">

        <td th:text="${medicament.medicament_Id}"></td>
        <td th:text="${medicament.name}"></td>
        <td th:text="${medicament.price}"></td>
        <td th:text="${medicament.description}"></td>
        <td th:text="${medicament.category}"></td>
                
        <td th:text="${medicament.producer}"></td>
        <td th:text="${medicament.stock_Quantity}"></td>
        <td th:text="${medicament.stock_In_Order}"></td>
        <td th:text="${medicament.active}"></td>

            

    </tr> -->



</table>

<form action="newMedicament">
<input type="submit" value="NEW" class="btn btn-primary btn-sm"/>

</form>
</html>